<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>IOT</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <header>
      <h1 class="brand">Capteurs d'un Rasberry PI</h1>
      <div class="responsive-menu-button js-responsive-menu-button">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="js-nav">
        <!--Not to remove !-->
        <!--Sensors list-->
      </nav>
    </header>
    <main>
      <!--Not to remove !-->
      <!--Graphs list-->
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="/js/main.js" type="text/javascript"></script>
  </body>
</html>
